@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="~/css/home.css" />

</head>
<body>
    <form method="post">
        <div class="container-sm form-create-main">
            <div class="form-create">
                <p for="name">Name</p>
                <input id="name" name="Name" value="@Model.Name" class="form-create-text" type="text">
                <p for="surname">Surname</p>
                <input id="surname" name="Surname" value="@Model.Surname" class="form-create-text" type="text">
                <p for="speciality">Speciality</p>
                <input id="speciality" name="speciality" value="@Model.Speciality" class="form-create-text" type="text">
                <p for="age">Age</p>
                <input id="age" name="Age" value="@Model.Age" class="form-create-text" type="number">
                <div class="form-create-button">
                    <input type="hidden" name="Id" />
                    <button asp-action="index" type="submit" class="btn btn-warning">Go to Home page</button>
                </div>
            </div>


        </div>

    </form>
</body>
</html>
